<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      lang="ja">
<head>
  <title>パスワードリセット</title>
</head>
<body>
<div layout:fragment="content">
  <h2 class="page-title">パスワードリセット</h2>
  <div class="card">
    <form th:action="@{/auth/password/reset}" th:object="${resetRequest}" method="post">
      <table>
        <tr>
          <th><label for="token" th:text="#{label.token}">Reset Token</label></th>
          <td>
            <input id="token" type="text" th:field="*{token}" required size="40">
            <span th:errors="*{token}" class="text-error"></span>
          </td>
        </tr>
        <tr>
          <th><label for="password" th:text="#{label.password}">Password</label></th>
          <td>
            <input id="password" type="password" th:field="*{password}" required size="30">
            <span th:errors="*{password}" class="text-error"></span>
          </td>
        </tr>
        <tr>
          <th><label for="passwordConfirm" th:text="#{label.passwordConfirm}">Confirm Password</label></th>
          <td>
            <input id="passwordConfirm" type="password" th:field="*{passwordConfirm}" required size="30">
            <span th:errors="*{passwordConfirm}" class="text-error"></span>
          </td>
        </tr>
      </table>
      <button type="submit">更新</button>
    </form>
  </div>
</div>
</body>
</html>